<%- include('includes/header') %>

<body>
    <div>Products Page</div>
    <div><%=member.memberNick%></div>

    <% products.map((value, key) => { %>
        <p><%= value.productName %> - <%= value.productName %></p> 
    <% } ) %>
</body>
</html>

<%- include('includes/footer') %>